<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../neon-animation/web-animations.html">
<link rel="import" href="../neon-animation/neon-animation-behavior.html">
<script>
  Polymer({
    is: 'fab-flingout-spin-right-45',

    behaviors: [
      Polymer.NeonAnimationBehavior
    ],

    configure: function(config) {
      var node = config.node;

      this._effect = new KeyframeEffect(node, [{
        transform: 'rotate(-45deg)'
      }, {
        transform: 'rotate(0deg)'
      }], this.timingFromConfig(config));

      return this._effect;
    }
  });

  Polymer({
    is: 'fab-flingout-spin-left-45',

    behaviors: [
      Polymer.NeonAnimationBehavior
    ],

    configure: function(config) {
      var node = config.node;

      this._effect = new KeyframeEffect(node, [{
        transform: 'rotate(45deg)'
      }, {
        transform: 'rotate(0deg)'
      }], this.timingFromConfig(config));

      return this._effect;
    }
  });

  Polymer({
    is: 'fab-slide-out',
    behaviors: [
      Polymer.NeonAnimationBehavior
    ],

    configure: function(config) {
      var node = config.node;
      var offset = config.offset ;

      var arr = [
        {'transform': 'translateX(' + offset.x + 'px)', offset: 0},
        {'transform': 'translateY(' + offset.y + 'px)', offset: 0},
        {'transform': 'translateX(0%)', offset: 1.0},
        {'transform': 'translateY(0%)', offset: 1.0}
      ] ;
      this._effect = new KeyframeEffect(node, arr, this.timingFromConfig(config));

      return this._effect;
    }
  });

  Polymer({
    is: 'fab-slide-in',
    behaviors: [
      Polymer.NeonAnimationBehavior
    ],

    configure: function(config) {
      var node = config.node;
      var offset = config.offset  ;
      var arr = [
        {'transform': 'translateX(0%)', offset: 0},
        {'transform': 'translateY(0%)', offset: 0},
        {'transform': 'translateX(' + offset.x + 'px)', offset: 1.0},
        {'transform': 'translateY(' + offset.y + 'px)', offset: 1.0}
      ] ;
      this._effect = new KeyframeEffect(node, arr, this.timingFromConfig(config));

      return this._effect;
    }
  });

</script>
