<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>fab-flingout demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../fab-flingout.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Flings down</h3>
      <demo-snippet>
        <template>
          <fab-flingout>
            <paper-fab icon="dns"></paper-fab>
            <paper-fab icon="close"></paper-fab>
            <paper-fab icon="add-alert"></paper-fab>
            <paper-fab icon="build"></paper-fab>
            <paper-fab icon="event"></paper-fab>
          </fab-flingout>
        </template>
      </demo-snippet>

      <h3>Flings up</h3>
      <demo-snippet>
        <template>
          <fab-flingout direction="up">
            <paper-fab mini icon="dns"></paper-fab>
            <paper-fab mini icon="close"></paper-fab>
            <paper-fab mini icon="add-alert"></paper-fab>
            <paper-fab mini icon="build"></paper-fab>
            <paper-fab mini icon="event"></paper-fab>
          </fab-flingout>
        </template>
      </demo-snippet>

      <h3>Customize trigger button color</h3>
      <demo-snippet>
        <template>
          <style is="custom-style">
          .green {
            --fab-flingout-trigger-background-color: green;
          }
          </style>
          <fab-flingout class="green">
            <paper-fab icon="dns"></paper-fab>
            <paper-fab icon="close"></paper-fab>
          </fab-flingout>
        </template>
      </demo-snippet>

      <h3>Customize subsidiary trigger buttons</h3>
      <demo-snippet>
        <template>
          <style is="custom-style">
          .custom {
            --fab-flingout-background-color: green;
            --fab-flingout-trigger-background-color: green;
          }
          </style>
          <fab-flingout class="custom">
            <paper-fab icon="dns"></paper-fab>
            <paper-fab icon="close"></paper-fab>
          </fab-flingout>
        </template>
      </demo-snippet>

    </div>

  </body>
</html>
